.image-group {
    display: flex;
    overflow: hidden;
    width: 80%; 
    max-width: 600px;
    margin: 0 auto; 
    justify-content: flex-start; 
    align-items: center;
}

.image-group .image-with-text {
    flex: 0 0 100%; 
    box-sizing: border-box;
    animation: slideImages 10s infinite linear;
}

@keyframes slideImages {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
    80% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
