/* responsive.css */

@media screen and (max-width: 700px) {
    .content {
        width: 100vw;
    }
    body {
        font-size: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header button {
        font-size: 10px;
        padding: 10px;
    }

    .page-description,
    .site-purpose,
    .form-group label,
    .form-buttons button,
    .bracket-section h2,
    .player p {
        font-size: 16px;
    }
    .image-group {
        width: 100%; 
    }

    .image-group .image-with-text {
        flex: 0 0 100%; 
    }

    section p, li, ul {
        font-size: small;
    }
    .complex-form { 
        max-width: 90%;
        margin: auto;
    }
    .form-buttons button {
        font-size: small;
    }
    #submitFormButton, #clearFormButton, #collapseFormButton{
        padding: 0px;
        margin: 5px;
    }

    .match {
        width: 25vw;
    }
    .divider {
        width: 100%;
    }
    .match label {
        font-size: smaller;
    }
}