/**
    Media queries

    Zmiana wyświetlania treści dla małych urządzeń

    body                                                                                                    - globalna zmiana wielkości czcionki w body
    header h1                                                                                               - zmiana wielkości h1                          
    header button                                                                                           - zmiana wielkości guzika
    section p, li, ul                                                                                       - mała czionka dynamiczna
    .page-description,.site-purpose,.form-group label,.form-buttons button,.bracket-section h2,.player p    - sztywna czcionka dla nagłówków i ważnych elementów
    .content                                                                                                - zmiana szerokości wyświetlania treści                                                                                           - 
    .image-group                                                                                            - zmiana szerokości zdjęć w karuzeli
    .image-group .image-with-text                                                                           - zmiana ustawień flexboxa dla karuzeli
    .complex-form                                                                                           - zmiana szerokości formularza
    .form-buttons button                                                                                    - zmiejszenie czcionki guzików formularza
    #submitFormButton, #clearFormButton, #collapseFormButton                                                - zmiejszenie marginesów i paddingó guzików formularza
    .match                                                                                                  - zwięszkenie pojedyńczego konteneru meczu
    .divider                                                                                                - poszerzenie linii oddzielającej zawodników
    .match label                                                                                            - zmiejszenie nazwy zawodników

    Styleguide 5.0
 */
@media screen and (max-width: 700px) {

    body {
        font-size: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    header button {
        font-size: 10px;
        padding: 10px;
    }

    section p, li, ul {
        font-size: small;
    }

    .page-description,
    .site-purpose,
    .form-group label,
    .form-buttons button,
    .bracket-section h2,
    .player p {
        font-size: 16px;
    }

    .content {
        width: 100vw;
    }

    .image-group {
        width: 100%; 
    }

    .image-group .image-with-text {
        flex: 0 0 100%; 
    }

    .complex-form { 
        max-width: 90%;
        margin: auto;
    }
    .form-buttons button {
        font-size: small;
    }
    #submitFormButton, #clearFormButton, #collapseFormButton{
        padding: 0px;
        margin: 5px;
    }

    .match {
        width: 25vw;
    }

    .divider {
        width: 100%;
    }

    .match label {
        font-size: smaller;
    }
}