/* colors: #f1fafc - tło,  #00315e - prowadzący kolor (fonty, headery),#ee351c - akcenty (guziki, logo)*/

*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body, h1, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1fafc;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #00315e;
    color: #e9ecef;
    font-size: larger;
    padding: 20px;
    text-align: center;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0 auto;
}

header button {
    background-color: #ee351c;
    color: #e9ecef;
    margin-left: 20px;
    padding: 20px;
    font-weight: bolder;
    font-size: large;
    border: none;
    cursor: pointer;
    position: fixed;
}

header a{
    margin: 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 5px;
    transition: 0.1s linear;
}

header a:hover{
    transition: 0.1s linear;
    transform: translateY(-5px);
}

.page-description {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1fafc;
}

h2 {
    color: #334252;
    margin-bottom: 10px;
}

p {
    color: #506174;
    font-size: 25px;
    line-height: 1.5;
}

li{
    color: #334252;
}

.content {
    font-size: 150%;
    margin-top: 60px;
    flex: 1;
    width: 70vw;
}


.complex-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-with-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-with-text img {
    max-width: 100%;
    height: auto;
}

.text-overlay {
    color: black;
    background-color: rgba(204, 198, 198, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}


.icons {
    display: flex;
    justify-content: center;
}

.icons div {
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-right: 10px;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.site-purpose {
    text-align: center;
    padding: 20px 20px 0px 20px;
    background-color: #f1fafc;
    margin-bottom: 10px;
}

.site-purpose ul {
    list-style-type: none;
    padding: 0;
}

.site-purpose li {
    margin-bottom: 5px;
}

.site-purpose li::before {
    content: "\2022"; 
    color: #ee351c;
    font-size: 30px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.form-group {
    margin-bottom: 15px;
}

.complex-form {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 60%; 
    margin-left: auto;
    margin-right: auto;
    display: none;
    transition: max-width 0.3s, margin-top 0.3s; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #e9ecef; 
    padding: 20px;

    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    overflow: hidden;
}

.complex-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold; 
}

.complex-form input,
.complex-form select,
.complex-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.complex-form button {
    background-color: #ee351c;
    color: #e9ecef;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    font-size: medium;
}

.complex-form {
    background-color: #eef5fa;
    color: #e9ecef;
    padding: 10px;
    border: 2px solid slate;
}

.complex-form button:hover, header button:hover, #collapseFormButton:hover {
    background-color: #d3301a;
    color: #fff;
}

.complex-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.complex-form .form-group label {
    margin-bottom: 5px;
}

.complex-form .form-group input,
.complex-form .form-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.complex-form .form-group .short-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.complex-form .form-group .short-inputs input,
.complex-form .form-group .short-inputs select {
    flex: 1; 
}

.complex-form .form-group .short-inputs select {
    flex: 2; 
    width: auto;
}

.complex-form .form-group button {
    width: 100px;
}

@keyframes expandForm {
    0% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    100% {
        opacity: 1;
        max-height: 500px; 
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@keyframes collapseForm {
    0% {
        opacity: 1;
        max-height: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    100% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.expanded {
    animation: expandForm 0.5s ease-out;
}

.collapsed {
    animation: collapseForm 0.5s ease-out;
}

.complex-form.expanded {
    animation-name: expandForm;
}
.complex-form:not(.expanded) {
    animation-name: collapseForm;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #e9ecef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.slider {
    margin-top: 20px;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: auto;
}

.div-with-scroll {
    overflow-y: auto;
    max-height: 200px;
    margin-top: 20px;
}

button,
#collapseFormButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button,
#collapseFormButton,
.complex-form button {
    color: #e9ecef;
    padding: 10px;
    transition: 0.2s linear;
}

#submitFormButton {
    background-color: #ee351c;
}

#collapseFormButton:hover,
.complex-form button:hover {
    transition: 0.2s linear;
    background-color: #d3301a;
    color: #fff;
    width: 110px;
    font-weight: bold;
}

.form-buttons {
    display: flex;
}

.form-buttons button {
    background-color:#e65643
}

.complex-form button {
    width: 100px;
    height: 58px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: 0.2s linear;
}

.complex-form .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

.bracket-section {
    display: none;
}

#tournamentInfo {
    color: #555;
    font-size: medium;
    margin-bottom: 15px;
    display: none;
    flex-direction: column;
}

.bracket-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #586172;
    border-radius: 20%;
    padding: 10px;
    margin-bottom: 10px;
    color: #555;
}
.round{
    margin-right: 20px;
}

.match {
    width: 15vw;
}

.player {
    width: 80%;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.player p {
    margin: 10px;
    padding: 5px;
}

.divider {
    width: 15vw;
    height: 2px;
    background-color: #ee351c;
}

.winner-radio {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 10px;
    background-color: #00315e;
    color: #e9ecef;
    padding: 10px 0px 10px 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
}