/* colors: #f1fafc - tło,  #00315e - prowadzący kolor (fonty, headery),#ee351c - akcenty (guziki, logo)*/

/**
    Ustawienia globalne

    Ustawienia podstawowe znaczników. Zerowanie ustawień domyślnych.

    * *                                 - Ustawia czcionkę, efekt smooth scroll oraz odstępy liter.
    body, h1, p, ul, li, form, button - Zerowanie marginesów oraz paddingów dla głównych elemenów.
    body                              - Ustawienie odpowiednich wartości pozycjonowania za pomocą flexboxa.
    h2                                - Kolor czcionki oraz marginesy dolne.
    p                                 - Kolor czcionki, wielkość czcionki.
    li                                - Kolor czcionki.

    Styleguide 1.0
 */
*{
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    letter-spacing: 2px;
}

body, h1, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1fafc;
    display: flex;
    justify-content: center;
    align-items: center;
}

 h2 {
    color: #334252;
    margin-bottom: 10px;
}

p {
    color: #506174;
    font-size: 25px;
    line-height: 1.5;
}

li{
    color: #334252;
}

/**
    Nagłówek

    Ostylowanie sekcji nagłówka i jej elementów.

    Markup:
    <div>
        <header>
            <button onclick="toggleForm()">CREATE</button>
            <h1>BracketCraft</h1>
            <a href="#"><img src="/src/assets/images/arrow-up.png" alt="go-up"></a>
        </header>
    </div>
    <style>
        header {
            background-color: #00315e;
            color: #e9ecef;
            font-size: larger;
            padding: 20px;
            text-align: center;
            width: 100%; 
            z-index: 1000; 
            box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2); 
            display: flex;
            align-items: center;
        }
        header h1 {
            margin: 0 auto;
        }
        header button {
            background-color: #ee351c;
            color: #e9ecef;
            margin-left: 20px;
            padding: 20px;
            font-weight: bolder;
            font-size: large;
            border: none;
            cursor: pointer;
        }
        header a{
            margin: 20px;
            border: none;
            cursor: pointer;
            right: 5px;
            transition: 0.1s linear;
        }
        header a:hover{
            transition: 0.1s linear;
            transform: translateY(-5px);
        }
    </style>

 
    header                      - Ustawienie kolorów, wymiaru czcionki, marginesów paddingów, itd. Dodatkowo pozycjonowanie kontenera nagłówkowego zawsze na górze strony, niezależnie od widoku. Dodanie małego cienia na dole konterena tworząc głębię.
    header h1                   - Pozycjonowanie zawsze na środku
    header button               - Pozycjonowanie zawsze po lewej stronie. Ustawienie odpowiednich kolorów, paddingów, marginesów, itd.
    header a                    - Pozycjonowanie zawsze po prawej stronie. Dodanie małej animacji.
    a:hover                     - style transformacji do animacji

    
    Styleguide 2.0
 */
header {
    background-color: #00315e;
    color: #e9ecef;
    font-size: larger;
    padding: 20px;
    text-align: center;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.2); 
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0 auto;
}

header button {
    background-color: #ee351c;
    color: #e9ecef;
    margin-left: 20px;
    padding: 20px;
    font-weight: bolder;
    font-size: large;
    border: none;
    cursor: pointer;
    position: fixed;
}

header a{
    margin: 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 5px;
    transition: 0.1s linear;
}

header a:hover{
    transition: 0.1s linear;
    transform: translateY(-5px);
}

/**
    Główny kontener

    Kontener - rodzic. W nim znajduje się cała treść strony.

    .content                        - Ustawienia wielkości czcionki relatywnie w całym kontenerze głowny. Ustawienie szerokości względnie od wyświetlania na danym urządzeniu.


    Styleguide 3.0
 */
.content {
    font-size: 150%;
    margin-top: 60px;
    flex: 1;
    width: 70vw;
}
/**
    Karuzela

    Kontener z ruchomymi zdjęciami - tzw. karuzelą.

    .complex-layout             - ustawienia flexboxa
    .image-with-text            - ustawienia kontenera zawierającego pojedyńcze zdjęcie
    .image-with-text img        - ustawienia szerokości i wysokości zdjęć
    .text-overlay               - kolor czcionki na zdjęciach, tło, wyświetlanie tekstu na zdjęciu
    
    Styleguide 3.2.
 */
.complex-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-with-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-with-text img {
    max-width: 100%;
    height: auto;
}

.text-overlay {
    color: black;
    background-color: rgba(204, 198, 198, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

/**
    Powitanie i opis strony

    .page-description           - Centrowanie, marginesy, paddingi oraz kolor tła dla głównego kontenera.
    
    Styleguide 3.1
 */
 .page-description {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1fafc;
}
/**
    Założenia strony
 
    Sekcja zawierająca powitanie i krótki opis strony

    .site-purpose               - główny kontener założeń i jego ostylowanie
    .site-purpose ul            - usunięcie domyślnych ustawień listy
    .site-purpose li            - margines dla elementu listy
    .site-purpose li::before    - pseudoelement w kształcie kropki o określonych wymiarach i kolorze

    Styleguide 3.3
 */
.site-purpose {
    text-align: center;
    padding: 20px 20px 0px 20px;
    background-color: #f1fafc;
    margin-bottom: 10px;
}

.site-purpose ul {
    list-style-type: none;
    padding: 0;
}

.site-purpose li {
    margin-bottom: 5px;
}

.site-purpose li::before {
    content: "\2022"; 
    color: #ee351c;
    font-size: 30px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/**
    Formularz drabinek

    Kontener na wysuwany formularz, zbierający dane o turnieju i jego uczestnikach.

    .complex-form                                                                         - główny kontener formularza. Centrowanie, marginesy, czcionka i kolory + animacja wysuwania i chowania
    .complex-form label                                                                   - stylowanie labelów w formularzu. Wyświeltanie blokowe, pogrubienie, kolor czcionki
    .complex-form input,.complex-form select,.complex-form textarea                       - ustawienia wyświetlania elementów formularza 
    .complex-form button                                                                  - pociemnienie guzików, i inne style guzików formularza
    .complex-form button:hover, header button:hover, #collapseFormButton:hover            - animacje najechania na guzik
    .complex-form .form-group                                                             - flexbox i marginesy dla lepszego widoku formularza
    .complex-form .form-group label                                                       - margines po labelu
 
    Markup:
    <form class="complex-form" id="tournamentForm" onsubmit="submitForm()">
    <label for="tournamentName">Turnament name</label>
    <div class="form-group">
    <input type="text" id="tournamentName" name="tournamentName">
    </div>
    <label for="participantList">Participants</label>
    <div class="form-group">
    <textarea id="participantList" name="participantList" rows="4" required></textarea>
    </div>
    <div class="form-group label-only">   
    <div class="input-container">
    <label for="startDate">Date</label>
    <input type="date" id="startDate" name="startDate">
    </div>
    </div>
    <div class="form-buttons">
    <button type="button" id="submitFormButton" onclick="submitForm()" >SUBMIT</button>
    <button type="button" id="clearFormButton" onclick="clearBracket()">CLEAR BRACKET</button>
    <button type="button" id="collapseFormButton" onclick="hideForm()">CLOSE</button>
    </div>
    </form>
    <style>
        .complex-form {
            color: #e9ecef;
            margin-top: 20px;
            margin-bottom: 20px;
            max-width: 60%; 
            margin-left: auto;
            margin-right: auto;
            transition: max-width 0.3s, margin-top 0.3s; 
            border: 1px solid #00315e;
            border-radius: 8px; 
            background-color: #dceefc; 
            padding: 10px;
            box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2); ;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            overflow: hidden;
        }
        .complex-form label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            font-weight: bold; 
        }
        .complex-form input,
        .complex-form select,
        .complex-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px; 
        }
        .complex-form button {
            background-color: #ee351c;
            color: #e9ecef;
            padding: 10px;
            border: none;
            cursor: pointer;
            display: block;
            margin: 0 auto; 
            font-size: medium;
        }
        .complex-form button:hover, header button:hover, #collapseFormButton:hover {
            background-color: #d3301a;
            color: #fff;
        }
        .complex-form .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }
        .complex-form .form-group label {
            margin-bottom: 5px;
        }
        @keyframes expandForm {
            0% {
                opacity: 0;
                max-height: 0;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
            100% {
                opacity: 1;
                max-height: 500px; 
                margin-top: 20px;
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        @keyframes collapseForm {
            0% {
                opacity: 1;
                max-height: 500px;
                margin-top: 20px;
                margin-bottom: 20px;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            100% {
                opacity: 0;
                max-height: 0;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        .expanded {
            animation: expandForm 0.5s ease-out;
        }
        .collapsed {
            animation: collapseForm 0.5s ease-out;
        }
        .complex-form.expanded {
            animation-name: expandForm;
        }
        .complex-form:not(.expanded) {
            animation-name: collapseForm;
        }
        button,
        #collapseFormButton {
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        button,
        #collapseFormButton,
        .complex-form button {
            color: #e9ecef;
            padding: 10px;
            transition: 0.2s linear;
        }
        #submitFormButton {
            background-color: #ee351c;
        }
        #collapseFormButton:hover,
        .complex-form button:hover {
            transition: 0.2s linear;
            background-color: #d3301a;
            color: #fff;
            width: 110px;
            font-weight: bold;
        }
        .form-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-buttons button {
            background-color:#e65643
        }
        .complex-form button {
            width: 100px;
            height: 58px;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px; 
            transition: 0.2s linear;
        }
        .complex-form .form-group {
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            justify-content: space-between;
        }
    </style>

    @keyframes expandForm                                                                 - animacja rozwijania formularza
    @keyframes collapseForm                                                               - animacja zwijania formularza
    .expanded                                                                             - klasa z animacją rozwijania                                        
    .collapsed                                                                            - klasa z animacją zwijania
    .complex-form.expanded                                                                - klasa do dodania animacji przez Javascript do rozwijania formularza
    .complex-form:not(.expanded)                                                          - klasa do dodania animacji przez Javascript do zwijania formularza
    .button,#collapseFormButton                                                           - usunięcie obramowania, zaokrąglenie guzika, zmiana kursora
    .button,#collapseFormButton,.complex-form button                                      - kolor czcionki guzików, mała animacja
    #submitFormButton                                                                     - jaśniejszy kolor głównego guzika
    #collapseFormButton:hover,.complex-form button:hover                                  - powiększenie guzika i rozjaśnienie czcionki po najechaniu kursorem
    .form-buttons                                                                         - centrowanie guzików w formularzu
    .form-buttons button                                                                  - przyciemnienie pozostałych guzików
    .complex-form button                                                                  - główne ustawienia guzików formularza
    .complex-form .form-group                                                             - centrowanie guzików formularza

    

    Styleguide 3.4
 */

.complex-form {
    color: #e9ecef;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 60%; 
    margin-left: auto;
    margin-right: auto;
    display: none;
    transition: max-width 0.3s, margin-top 0.3s; 
    border: 1px solid #00315e;
    border-radius: 8px; 
    background-color: #dceefc; 
    padding: 10px;

    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2); ;

    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    overflow: hidden;
}

.complex-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold; 
}

.complex-form input,
.complex-form select,
.complex-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.complex-form button {
    background-color: #ee351c;
    color: #e9ecef;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    font-size: medium;
}

.complex-form button:hover, header button:hover, #collapseFormButton:hover {
    background-color: #d3301a;
    color: #fff;
}

.complex-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.complex-form .form-group label {
    margin-bottom: 5px;
}

@keyframes expandForm {
    0% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    100% {
        opacity: 1;
        max-height: 500px; 
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@keyframes collapseForm {
    0% {
        opacity: 1;
        max-height: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    100% {
        opacity: 0;
        max-height: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.expanded {
    animation: expandForm 0.5s ease-out;
}

.collapsed {
    animation: collapseForm 0.5s ease-out;
}

.complex-form.expanded {
    animation-name: expandForm;
}
.complex-form:not(.expanded) {
    animation-name: collapseForm;
}

button,
#collapseFormButton {
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button,
#collapseFormButton,
.complex-form button {
    color: #e9ecef;
    padding: 10px;
    transition: 0.2s linear;
}

#submitFormButton {
    background-color: #ee351c;
}

#collapseFormButton:hover,
.complex-form button:hover {
    transition: 0.2s linear;
    background-color: #d3301a;
    color: #fff;
    width: 110px;
    font-weight: bold;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-buttons button {
    background-color:#e65643
}

.complex-form button {
    width: 100px;
    height: 58px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: 0.2s linear;
}

.complex-form .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
}

/**
    Turniej

    Sekcja zawierająca dynamicznie generowanie informacje o turnieju i drabinki turniejowe.

    .bracket-section             - ostylowanie kontenera zawierającego cały turniej
    #tournamentInfo              - dynamicznie wstawiane informacje o turnieju
    .round                       - pojedyńcza runda drabinki turniejowej 
    .bracket-container           - pojedyńczy mecz drabinki turniejowej - używana w JavaScript do identyfikacji rund
    .match                       - szerokość meczu
    .player                      - stylowanie nazwy gracza w rundzie                
    .divider                     - linia oddzielająca graczy w meczu
    .winner                      - kontener dynamicznie wstawiany, pokazujący zwycięzce turnieju
    .bracket-container.winner    - usunięcie innych klas dziedziczonych z modułu rundy
    .winner p                    - kolor tekstu z nazwą zwycięzcy
    @keyframes rotateBorder      - animacja obramowania zwycięzcy

    Styleguide 3.5.
 */
.bracket-section {
    display: none;
    overflow: scroll;
}

#tournamentInfo {
    color: #555;
    font-size: medium;
    margin-bottom: 15px;
    display: none;
    flex-direction: column;
}

.round{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bracket-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #586172;
    border-radius: 20%;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    color: #555;
}

.match {
    min-width: max-content;
    width: 13vw;
}

.player {
    min-width: max-content;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.divider {
    min-width: max-content;
    width: 10vw;
    height: 2px;
    background-color: #d4341f;
}

.bracket-container.winner {
    border: none !important;
    font-weight: bolder;
    padding: 3px;
    background: #f1fafc;
}

.winner {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f1fafc;
    border: 3px solid;
    border-image: -moz-linear-gradient(left, #fed330 0%, #fed330 20%, #e63841 20%, #e63841 20%, #e63841 40%, #5ed6fd 40%, #5ed6fd 40%, #e63841 40%, #5ed6fd 40%, #5ed6fd 40%, #5ed6fd 60%, #45c33b 60%, #45c33b 80%, #1172c0 80%, #1172c0 80%, #1172c0 100%); /* FF3.6+ */
    border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#fed330), color-stop(20%,#fed330), color-stop(20%,#e63841), color-stop(20%,#e63841), color-stop(40%,#e63841), color-stop(40%,#5ed6fd), color-stop(40%,#5ed6fd), color-stop(40%,#e63841), color-stop(40%,#5ed6fd), color-stop(40%,#5ed6fd), color-stop(60%,#5ed6fd), color-stop(60%,#45c33b), color-stop(80%,#45c33b), color-stop(80%,#1172c0), color-stop(80%,#1172c0), color-stop(100%,#1172c0)) 1 stretch repeat; /* Chrome,Safari4+ */
    border-image: -webkit-linear-gradient(left, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* Chrome10+,Safari5.1+ */
    border-image: -o-linear-gradient(left, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* Opera 11.10+ */
    border-image: -ms-linear-gradient(left, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* IE10+ */
    border-image: linear-gradient(to right, #fed330 0%,#fed330 20%,#e63841 20%,#e63841 20%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#e63841 40%,#5ed6fd 40%,#5ed6fd 40%,#5ed6fd 60%,#45c33b 60%,#45c33b 80%,#1172c0 80%,#1172c0 80%,#1172c0 100%) 1 stretch repeat; /* W3C */
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 5px;
    animation: rotateBorder 2s ease-in-out infinite;
}

.winner p {
    color: #41d459;
}

@keyframes rotateBorder {
    0% {
        border-image-source: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    }
    20% {
        border-image-source: linear-gradient(to right, #8b00ff, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082);
    }
    40% {
        border-image-source: linear-gradient(to right, #4b0082, #8b00ff, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff);
    }
    60% {
        border-image-source: linear-gradient(to right, #0000ff, #4b0082, #8b00ff, #ff0000, #ff7f00, #ffff00, #00ff00);
    }
    80% {
        border-image-source: linear-gradient(to right, #00ff00, #0000ff, #4b0082, #8b00ff, #ff0000, #ff7f00, #ffff00);
    }
    100% {
        border-image-source: linear-gradient(to right, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff, #ff0000, #ff7f00);
    }
}

/**
    Stopka

    Ustawienia kontenera stopki, zawierającego odnośniki ze zdjęciami do socialmediów.

    footer      - główny kontener zawierający stopkę. Pozycjonowany zawsze na samym dole strony.
    .icons      - flexbox dla ikon
    .icons div  - ustawienia kontenerów na linki

    Styleguide 4.0
 */
footer {
    margin-top: 10px;
    background-color: #00315e;
    color: #e9ecef;
    padding: 10px 0px 10px 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons div {
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-right: 10px;
}