<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mateusz Bocak">
    <meta name="keywords" content="Tournament, brackets, generator, Tournaments, bracket">
    <meta name="description" content="BracketCraft - Easily create dynamic tournament brackets. Organize tournaments, generate competition structures, and track results effortlessly. Discover how BracketCraft simplifies online tournament management.">


    <title>BracketCraft - easy brackets</title>

    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="stylesheet" href="/src/assets/css/responsive.css">
    <link rel="stylesheet" href="/src/assets/css/carousel.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <button onclick="toggleForm()">CREATE</button>
    <h1>BracketCraft</h1>
    <a href="#"><img src="/src/assets/images/arrow-up.png" alt="go-up"></a>
</header>

<section class="content">
    <section class="page-description">
        <h2>Welcome to BracketCraft!</h2>
        <p>Experience the excitement of creating tournament brackets effortlessly with BracketCraft. Whether you're organizing esports competitions, sports events, or any other tournaments, our platform simplifies the process of generating tournament brackets.</p>
        <p>Explore the features, customize your tournaments, and bring competitive gaming to a whole new level. Get started today!</p>
    </section>
    
    <div class="complex-layout">
        <div class="image-group carousel-animation">
            <div class="image-with-text">
                <img src="/src/assets/images/bracket1.jpg" alt="image 1">
                <div class="text-overlay">
                    <p>Drabinka turniejowa 1</p>
                </div>
            </div>
            <div class="image-with-text carousel-animation">
                <img src="/src/assets/images/bracket2.PNG" alt="image 2">
                <div class="text-overlay">
                    <p>Drabinka turniejowa 2</p>
                </div>
            </div>
            <div class="image-with-text carousel-animation">
                <img src="/src/assets/images/bracket3.PNG" alt="image 2">
                <div class="text-overlay">
                    <p>Drabinka turniejowa 3</p>
                </div>
            </div>
        </div>
    </div>

    <section class="site-purpose">
        <h2>Our Vision</h2>
        <p>BracketCraft is dedicated to providing an intuitive and efficient platform for creating tournament brackets. Our vision is to empower organizers, gamers, and sports enthusiasts by simplifying the process of setting up and managing tournaments.</p>
        <br>
        <p><b>Key Features:</b></p>
        <ul>
            <li>Easy Bracket Creation: Generate tournament brackets effortlessly with just a few clicks.</li>
            <li>Customization: Tailor your tournaments with various settings and options.</li>
            <li>Real-time Updates: Stay informed with real-time updates on tournament progress.</li>
            <li>Community Engagement: Connect with participants through our integrated communication features.</li>
        </ul>
        <br>
        <p>Whether you're hosting an esports event, sports competition, or any other tournament, BracketCraft is designed to streamline the entire process, allowing you to focus on the excitement of the competition.</p>
    </section>
    
    <hr>

    <form class="complex-form" id="tournamentForm" onsubmit="submitForm()">
        <label for="tournamentName">Turnament name</label>
        <div class="form-group">
            <input type="text" id="tournamentName" name="tournamentName">
        </div>

        <label for="participantList">Participants</label>
        <div class="form-group">
            <textarea id="participantList" name="participantList" rows="4" required></textarea>
        </div>
    
        <div class="form-group label-only">   
            <div class="input-container">
                <label for="startDate">Date</label>
                <input type="date" id="startDate" name="startDate">
            </div>
        </div>
        <div class="form-buttons">
            <button type="button" id="submitFormButton" onclick="submitForm()" >SUBMIT</button>
            <button type="button" id="clearFormButton" onclick="clearBracket()">CLEAR BRACKET</button>
            <button type="button" id="collapseFormButton" onclick="hideForm()">CLOSE</button>
        </div>
    </form>

    <div id="tournamentInfo">
            <h2>Tournament Bracket</h2>
            <p>ale esse mam</p>
    </div>
    <section class="bracket-section" id="bracketSection">

        <div class="bracket-container">
            <form action="">
                <div class="player">
                    <p>Gracz 1</p>
                    <input type="radio" name="winner" value="player1">
                    
                </div>
                <div class="divider"></div>
                <div class="player">
                    <p>Gracz 2</p>
                    <input type="radio" name="winner" value="player2">
                </div>
            </form>
        </div>
    </section>
</section>

<footer>
    <div class="icons">
        <div><a href="https://discordapp.com/users/460858124421562368"><img src="/src/assets/images/icons8-discord-50.png" alt="Discord icon"></a></div>
        <div><a href="https://github.com/JustFiesta"><img src="/src/assets/images/icons8-github-50.png" alt="GitHub icon"></a></div>
        <div><a href="https://www.linkedin.com/in/mateusz-bocak-331549244"><img src="/src/assets/images/icons8-linkedin-50.png" alt="Linkedin icon"></a></div>
    </div>
</footer>

<script src="/src/assets/js/main.js"></script>
</body>
</html>
