<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BracketCraft</title>
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="stylesheet" href="/src/assets/css/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>BracketCraft</h1>
</header>

<section class="content">
    <div class="complex-layout">
        <div class="image-group">
            <img src="image1.jpg" alt="Zdjęcie 1">
            <img src="image2.jpg" alt="Zdjęcie 2">
            <img src="image3.jpg" alt="Zdjęcie 3">
        </div>

        <div class="text-overlay">
            <p>text on image</p>
        </div>
    </div>


    <div class="multimedia-icons">
        <img src="video-thumbnail.jpg" alt="Podgląd wideo">
        <i class="icon1"></i>
        <i class="icon2"></i>
    </div>

    <form class="complex-form" id="tournamentForm">
        <label for="tournamentName">Nazwa Turnieju:</label>
        <input type="text" id="tournamentName" name="tournamentName" required>

        <label for="participantList">Lista Uczestników (oddzielona przecinkami):</label>
        <textarea id="participantList" name="participantList" rows="4" required></textarea>

        <label for="startDate">Data Rozpoczęcia Turnieju:</label>
        <input type="date" id="startDate" name="startDate" required>

        <label for="location">Lokalizacja Turnieju:</label>
        <input type="text" id="location" name="location" required>

        <button type="submit">Utwórz Drabinkę</button>
    </form>


    <button onclick="showPopup()">Pokaż Okienko</button>

    <div class="slider">

    </div>
</section>

<footer>
    <div class="animations">
        <div class="animation1"><a href="https://discordapp.com/users/460858124421562368"><img src="/src/assets/images/icons8-discord-50.png" alt="Discord icon"></a></div>
        <div class="animation2"><a href="https://github.com/JustFiesta"><img src="/src/assets/images/icons8-github-50.png" alt="GitHub icon"></a></div>
        <div class="animation3"><a href="https://www.linkedin.com/in/mateusz-bocak-331549244"><img src="/src/assets/images/icons8-linkedin-50.png" alt="Linkedin icon"></a></div>
    </div>
</footer>

<script src="/src/assets/js/main.js"></script>
</body>
</html>
