<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BracketCraft</title>
    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="stylesheet" href="/src/assets/css/responsive.css">
    <link rel="stylesheet" href="/src/assets/css/carousel.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <button onclick="toggleForm()">CREATE BRACKET</button>
    <h1>BracketCraft</h1>
</header>

<section class="content">
    <section class="page-description">
        <h2>Welcome to BracketCraft!</h2>
        <p>Experience the excitement of creating tournament brackets effortlessly with BracketCraft. Whether you're organizing esports competitions, sports events, or any other tournaments, our platform simplifies the process of generating tournament brackets.</p>
        <p>Explore the features, customize your tournaments, and bring competitive gaming to a whole new level. Get started today!</p>
    </section>
    
    <div class="complex-layout">
        <div class="image-group carousel-animation">
            <div class="image-with-text">
                <img src="/src/assets/images/bracket1.jpg" alt="image 1">
                <div class="text-overlay">
                    <p>Drabinka turniejowa 1</p>
                </div>
            </div>
            <div class="image-with-text carousel-animation">
                <img src="/src/assets/images/bracket2.PNG" alt="image 2">
                <div class="text-overlay">
                    <p>Drabinka turniejowa 2</p>
                </div>
            </div>
            <div class="image-with-text carousel-animation">
                <img src="/src/assets/images/bracket3.PNG" alt="image 2">
                <div class="text-overlay">
                    <p>Drabinka turniejowa 3</p>
                </div>
            </div>
        </div>
    </div>

    <section class="site-purpose">
        <h2>Our Vision</h2>
        <p>BracketCraft is dedicated to providing an intuitive and efficient platform for creating tournament brackets. Our vision is to empower organizers, gamers, and sports enthusiasts by simplifying the process of setting up and managing tournaments.</p>
        <p>Key Features:</p>
        <ul>
            <li>Easy Bracket Creation: Generate tournament brackets effortlessly with just a few clicks.</li>
            <li>Customization: Tailor your tournaments with various settings and options.</li>
            <li>Real-time Updates: Stay informed with real-time updates on tournament progress.</li>
            <li>Community Engagement: Connect with participants through our integrated communication features.</li>
        </ul>
        <p>Whether you're hosting an esports event, sports competition, or any other tournament, BracketCraft is designed to streamline the entire process, allowing you to focus on the excitement of the competition.</p>
    </section>
    
    <form class="complex-form" id="tournamentForm" onsubmit="submitForm()">
        <label for="tournamentName">Turnament name</label>
        <div class="form-group">
            <input type="text" id="tournamentName" name="tournamentName">
        </div>

        <label for="participantList">Participants</label>
        <div class="form-group">
            <textarea id="participantList" name="participantList" rows="4" required></textarea>
        </div>
    
        <div class="form-group label-only">
            <div class="input-container">
                <label for="numberOfPlayers">Number of participants</label>
                <input type="number" id="numberOfPlayers" name="numberOfPlayers" min="2" max="30" step="2" required>
            </div>
        
            <div class="input-container">
                <label for="startDate">Date</label>
                <input type="date" id="startDate" name="startDate">
            </div>
        </div>

        <label for="location">Location</label>
        <div class="form-group">
            <input type="text" id="location" name="location">
        </div>

        <button type="button" id="collapseFormButton" onclick="hideForm()">CLOSE</button>
        <button type="button" id="submitFormButton" onclick="submitForm()" >SUBMIT</button>

    </form>
    
    <section class="bracket-section" id="bracketSection">
        <h2>Tournament Bracket</h2>
        <div id="tournamentInfo">

        </div>

        <div class="bracket-container">
            <div class="player">
                <p>Gracz 1</p>
                <input type="radio" name="winner" value="player1">
            </div>
            <div class="divider"></div>
            <div class="player">
                <p>Gracz 2</p>
                <input type="radio" name="winner" value="player2">
            </div>
        </div>
    </section>

</section>

<footer>
    <div class="animations">
        <div class="animation1"><a href="https://discordapp.com/users/460858124421562368"><img src="/src/assets/images/icons8-discord-50.png" alt="Discord icon"></a></div>
        <div class="animation2"><a href="https://github.com/JustFiesta"><img src="/src/assets/images/icons8-github-50.png" alt="GitHub icon"></a></div>
        <div class="animation3"><a href="https://www.linkedin.com/in/mateusz-bocak-331549244"><img src="/src/assets/images/icons8-linkedin-50.png" alt="Linkedin icon"></a></div>
    </div>
</footer>

<script src="/src/assets/js/main.js"></script>
</body>
</html>
